.slick-current.slick-active .ll-tab__item {
  background-size: 100% 45px;
  background-repeat: no-repeat;
  font-size: 18px;
  color: #fff;
  &.ll-tab{
    &__new {
      background-image: url("/image/tab/tab_new_on.sp.480.png");
    }
    &__short {
      background-image: url("/image/tab/tab_short_on.sp.480.png");
    }
    &__long {
      background-image: url("/image/tab/tab_middle_on.sp.480.png");
    }
    &__year {
      background-image: url("/image/tab/tab_long_on.sp.480.png");
    }
  }
}

.slick-slide {
  padding: 0;
  &.slick-active {
    outline: 0;
  }
}

.ll-content.slick-slider {
  margin-bottom: -4px;
}
