.ll-body {
  margin: 0 -16px;
  position: relative;
  background-image: url("/image/line/line_bottom.sp.480.png"),url("/image/bgimg/impact_base.sp.480.png");
  padding-top: 15%;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position: bottom,center 0px;
  background-size: 100%,cover;
  &::before {
    content:  "";
    position: absolute;
    background: url("/image/banner/impact_main_menu.sp.480.png");
    display: block;
    background-size:  contain;
    background-repeat:  no-repeat;
    background-position: center;
    width: 100%;
    padding-bottom: 10%;
    top: -16px;
  }
}