//bg
.bg {
  &-short ul{
    border-color: #9686D4;
  }
  &-long ul{
    border-color: #5BC3C9;
  }
  &-year ul{
    border-color: #75ABEB;
  }
  &-new ul li.ll-content__item {
    border-color: #828282;
  }
}

//body

.ll-body {
  position: relative;
  background-image: url(/image/line/line_bottom.sp.480.png),url(/image/bgimg/impact_base.sp.480.png);
  padding-top: 15%;
  padding-bottom: 30px;
  background-repeat: no-repeat;
  background-position: bottom,center 0px;
  background-size: 100%,cover;
  border-top: 1px solid #4f4f4f;
  &::before {
    content:  "";
    position: absolute;
    background: url(/image/banner/impact_main_menu.sp.480.png);
    display: block;
    background-size:  contain;
    background-repeat:  no-repeat;
    background-position: center;
    width: 100%;
    padding-bottom: 10%;
    top: -16px;
    @media screen and (min-width:640px){
      top:-33px;
    }

    @media screen and (min-width:365px) and (max-width:639px){
      top:-20px;
    }
  }
}


//content
.ll-content {
  &__item {
    &.cate-{
      &short{
        border-color: #9686D4;
      }
      &long{
        border-color: #5BC3C9;
      }
      &year,
      &prog {
        border-color: #75ABEB;
      }
    }
    @media screen and (max-width: 320px){
      a p {
        width: auto;
      }
    }
    .bg-new &{
      a{
        &::after {
          width: 40px;
          height: 20px;
        }
      }
    }
  }
  &__title {
    font-size: 18px;
    padding-bottom:  0px;
    padding-top: 0px;
  }
  &__planetNote span{
    &::before {
      content: "";
      display: block;
      width: 54px;
      height: 24px;
      background-color: transparent;
      background-image: url(/image/bgimg/planet_bg.sp.480.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      .cate-prog &{
        width: 80px;
        height: 24px;
        background-image: url(/image/bgimg/planet_bg_long.sp.480.png);
      }
    }
  }
  &__date{
    width:170px;
  }
}

//tab
.ll-tab{
  width: 360px;
  .ll-tab__item{
    background-image: url(/image/tab/tab_off.sp.480.png);
    background-size: 90px 43px;
    background-repeat: no-repeat;
    height: 45px;
    width: 100%;
    border: 1px solid #828282;
    color: #000;
    font-size: 14px;
    &.ll-tab{
      &__new {
        border-radius:6px 0 0 6px;
        color: #4F4F4F;
      }
      &__short {
        color: #9686d4;
      }
      &__long {
        color: #5BC3C9;
      }
      &__year {
        border-radius: 0 6px 6px 0;
        color: #75ABEB;
      }
    }
    &.ll-tab__new,
    &.ll-tab__short,
    &.ll-tab__long{
      border-right:0;
    }
  }
}

.slick-current.slick-active .ll-tab__item {
  background-size: 90px 43px;
  background-repeat: no-repeat;
  font-size: 18px;
  color: #fff !important;
  @media (max-width:320px){
    background-size: 77.5px 43px;
  }
  &.ll-tab{
    &__new {
      background-image: url(/image/tab/tab_new_on.sp.480.png);
    }
    &__short {
      background-image: url(/image/tab/tab_short_on.sp.480.png);
    }
    &__long {
      background-image: url(/image/tab/tab_middle_on.sp.480.png);
    }
    &__year {
      background-image: url(/image/tab/tab_long_on.sp.480.png);
    }
  }
}

.slick-slide {
  padding: 0;
  &.slick-active {
    outline: 0;
  }
}

@media (min-width:320px) and (max-width:374px){
  .ll-tab .slick-slide{
    width: 77.5px !important;
  }
  .ll-body > .ll-tab{
    width: 310px !important;
  }
  .ll-content__area {
    padding: 5px;
  }
}
