.ll-tab {
  max-width: 360px;
  margin: 0 auto 12px;
  border: 1px solid #828282;
  border-radius: 8px;
  overflow: hidden;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 16px;
    margin: 0 auto;
    background-image: url("/image/tab/tab_off.sp.480.png");
    background-size: 100% 45px;
    background-repeat: no-repeat;
    height: 45px;
    width: 100%;
    font-size: 14px;
    border-right: 1px solid #828282;
    &.ll-tab__year {
      border-right: 0;
    }
    &.ll-tab{
      &__new {
        border-radius:6px 0 0 6px;
        color: #4F4F4F;
      }
      &__short {
        color: #9686d4;
      }
      &__long {
        color: #5BC3C9;
      }
      &__year {
        border-radius: 0 6px 6px 0;
        color: #75ABEB;
      }
    }

  }
}